@page
@model cooper_produce.Pages.contactModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@{ViewData ["Title"] = "Contact";}</title>
</head>
<body>
    <div class="title">
        <h1 class="text-center">Contact us</h1>
    </div>
    <div class="text-center">
        <p>Contact us at cooperproduce@outlook.com</p>
        <p>Thanks and have a blessed day</p>
    </div>
    <div style="height:540px"></div>
</body>
</html>
