@page
@model IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/home.css" />
	<link rel="shortcut icon" href="" />
	<title>@{ViewData["Title"] = "Home Page";}</title>
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
          rel="stylesheet" />
    <script src="~/js/app.js"></script>
    <script src="~/js/home.js"></script>
    
</head>
<body>
    <div class="container feature-d">
        <div id="featureCarosusel" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#featureCarosusel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#featureCarosusel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
            <div class="carousel-inner rounded-2 carousel-fade">
            <div class="carousel-item active">
                <img src="~/images/feature.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block fade-in">
                        <h4>We are family owned</h4>
                        <p>We use the best product for our farm</p>
                    </div>
            </div>
            <div class="carousel-item rounded-2">
                <img src="~/images/feature2.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block fade-in">
                        <h4>My name is Chase</h4>
                        <p>I am the second oldest and love to plant produce</p>
                    </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#featureCarosusel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#featureCarosusel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>
    <!-- End Of Carousel -->
    <div class="spacer-v80"></div>
    <div class="main-meassage container text-center">
        <div class="quote">
            <div >
                <p>
                    These are some of the best produce ever
                </p>

            </div>
            <div class="spacer-v60"></div>
            <div>
                <p>
                    Just so much better than the store bought ones
                </p>
            </div>
        </div>
    </div>

</body>
</html>

